<section class="section" aria-labelledby="podcasts-videos-title">
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">Stay Informed with Fresh Content</p>
        <h2 class="section__title" id="podcasts-videos-title">
          Latest Podcast Episodes
        </h2>
      </div>
    </div>
  </header>
  <div class="section__body">
    <ul class="bordered-grid bordered-grid--3-cols container">
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="./videos/example.mp4"
              width="470"
              height="390"
              poster="./images/podcasts/poster-1.webp"
              data-js-video-player-video
            ></video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel
            >
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play video"
                title="Play video"
                data-js-video-player-play-button
              >
                <svg
                  width="58"
                  height="58"
                  viewBox="0 0 58 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.5625 29C0.5625 13.2944 13.2944 0.5625 29 0.5625C44.7056 0.5625 57.4375 13.2944 57.4375 29C57.4375 44.7056 44.7056 57.4375 29 57.4375C13.2944 57.4375 0.5625 44.7056 0.5625 29ZM41.4663 26.1318C43.7167 27.382 43.7167 30.6183 41.4663 31.8685L25.1248 40.9471C22.9377 42.1621 20.25 40.5807 20.25 38.0788V19.9215C20.25 17.4196 22.9377 15.8381 25.1248 17.0531L41.4663 26.1318Z"
                    fill="white"
                  />
                </svg>
              </button>
              <div class="video-player__duration">42.25 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">AI in Healthcare</h3>
            <div class="video-card__description">
              <p>
                Dr. Lisa Adams discusses how AI is revolutionizing healthcare,
                from diagnostic tools to patient care.
              </p>
            </div>
          </div>
          <a class="video-card__link button" href="/">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="./videos/example.mp4"
              width="470"
              height="390"
              poster="./images/podcasts/poster-2.webp"
              data-js-video-player-video
            ></video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel
            >
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play video"
                title="Play video"
                data-js-video-player-play-button
              >
                <svg
                  width="58"
                  height="58"
                  viewBox="0 0 58 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.5625 29C0.5625 13.2944 13.2944 0.5625 29 0.5625C44.7056 0.5625 57.4375 13.2944 57.4375 29C57.4375 44.7056 44.7056 57.4375 29 57.4375C13.2944 57.4375 0.5625 44.7056 0.5625 29ZM41.4663 26.1318C43.7167 27.382 43.7167 30.6183 41.4663 31.8685L25.1248 40.9471C22.9377 42.1621 20.25 40.5807 20.25 38.0788V19.9215C20.25 17.4196 22.9377 15.8381 25.1248 17.0531L41.4663 26.1318Z"
                    fill="white"
                  />
                </svg>
              </button>
              <div class="video-player__duration">37.25 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">AI Ethics</h3>
            <div class="video-card__description">
              <p>
                Explore the ethical dilemmas and considerations surrounding AI
                with guest speaker Dr. Michael Turner.
              </p>
            </div>
          </div>
          <a class="video-card__link button" href="/">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="./videos/example.mp4"
              width="470"
              height="390"
              poster="./images/podcasts/poster-3.webp"
              data-js-video-player-video
            ></video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel
            >
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play video"
                title="Play video"
                data-js-video-player-play-button
              >
                <svg
                  width="58"
                  height="58"
                  viewBox="0 0 58 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.5625 29C0.5625 13.2944 13.2944 0.5625 29 0.5625C44.7056 0.5625 57.4375 13.2944 57.4375 29C57.4375 44.7056 44.7056 57.4375 29 57.4375C13.2944 57.4375 0.5625 44.7056 0.5625 29ZM41.4663 26.1318C43.7167 27.382 43.7167 30.6183 41.4663 31.8685L25.1248 40.9471C22.9377 42.1621 20.25 40.5807 20.25 38.0788V19.9215C20.25 17.4196 22.9377 15.8381 25.1248 17.0531L41.4663 26.1318Z"
                    fill="white"
                  />
                </svg>
              </button>
              <div class="video-player__duration">44.20 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">Machine Learning Explained</h3>
            <div class="video-card__description">
              <p>
                Dive into the intricacies of machine learning with AI expert
                Sarah Davis. In this episode
              </p>
            </div>
          </div>
          <a class="video-card__link button" href="/">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="./videos/example.mp4"
              width="470"
              height="390"
              poster="./images/podcasts/poster-4.webp"
              data-js-video-player-video
            ></video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel
            >
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play video"
                title="Play video"
                data-js-video-player-play-button
              >
                <svg
                  width="58"
                  height="58"
                  viewBox="0 0 58 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.5625 29C0.5625 13.2944 13.2944 0.5625 29 0.5625C44.7056 0.5625 57.4375 13.2944 57.4375 29C57.4375 44.7056 44.7056 57.4375 29 57.4375C13.2944 57.4375 0.5625 44.7056 0.5625 29ZM41.4663 26.1318C43.7167 27.382 43.7167 30.6183 41.4663 31.8685L25.1248 40.9471C22.9377 42.1621 20.25 40.5807 20.25 38.0788V19.9215C20.25 17.4196 22.9377 15.8381 25.1248 17.0531L41.4663 26.1318Z"
                    fill="white"
                  />
                </svg>
              </button>
              <div class="video-player__duration">27.05 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">AI and the Future of Work</h3>
            <div class="video-card__description">
              <p>
                Dr. Olivia White joins John Parker to discuss the evolving role
                of AI in the workplace.
              </p>
            </div>
          </div>
          <a class="video-card__link button" href="/">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="./videos/example.mp4"
              width="470"
              height="390"
              poster="./images/podcasts/poster-5.webp"
              data-js-video-player-video
            ></video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel
            >
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play video"
                title="Play video"
                data-js-video-player-play-button
              >
                <svg
                  width="58"
                  height="58"
                  viewBox="0 0 58 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.5625 29C0.5625 13.2944 13.2944 0.5625 29 0.5625C44.7056 0.5625 57.4375 13.2944 57.4375 29C57.4375 44.7056 44.7056 57.4375 29 57.4375C13.2944 57.4375 0.5625 44.7056 0.5625 29ZM41.4663 26.1318C43.7167 27.382 43.7167 30.6183 41.4663 31.8685L25.1248 40.9471C22.9377 42.1621 20.25 40.5807 20.25 38.0788V19.9215C20.25 17.4196 22.9377 15.8381 25.1248 17.0531L41.4663 26.1318Z"
                    fill="white"
                  />
                </svg>
              </button>
              <div class="video-player__duration">28.50 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">AI in Education</h3>
            <div class="video-card__description">
              <p>
                Explore the role of AI in education as Emily Turner discusses
                how AI is transforming the learning experience.
              </p>
            </div>
          </div>
          <a class="video-card__link button" href="/">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="./videos/example.mp4"
              width="470"
              height="390"
              poster="./images/podcasts/poster-6.webp"
              data-js-video-player-video
            ></video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel
            >
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play video"
                title="Play video"
                data-js-video-player-play-button
              >
                <svg
                  width="58"
                  height="58"
                  viewBox="0 0 58 58"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.5625 29C0.5625 13.2944 13.2944 0.5625 29 0.5625C44.7056 0.5625 57.4375 13.2944 57.4375 29C57.4375 44.7056 44.7056 57.4375 29 57.4375C13.2944 57.4375 0.5625 44.7056 0.5625 29ZM41.4663 26.1318C43.7167 27.382 43.7167 30.6183 41.4663 31.8685L25.1248 40.9471C22.9377 42.1621 20.25 40.5807 20.25 38.0788V19.9215C20.25 17.4196 22.9377 15.8381 25.1248 17.0531L41.4663 26.1318Z"
                    fill="white"
                  />
                </svg>
              </button>
              <div class="video-player__duration">32.31 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">AI in Entertainment</h3>
            <div class="video-card__description">
              <p>
                David Smith as they explore the influence of AI in the
                entertainment industry.
              </p>
            </div>
          </div>
          <a class="video-card__link button" href="/">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
